.DS_Store
dist
build

**/dist
**/build

node_modules
**/node_modules

**/scripts/**/*.js
**/scripts/**/*.js.map
**/scripts/**/*.d.ts

**/*.youdao.json
**/*.test.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

#Electron-builder output
/dist_electron
/electron_build
/electron_dist